---

---

@import "highlight.css";
@import "font-awesome/css/font-awesome.css";

$spacing-unit: 1rem;

body {
	font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5 {
	font-family: 'Roboto Slab', serif;
}

.post-content {
	margin-bottom: $spacing-unit;

	p, li {
		font-size: 1.2rem;
	}

	p, figure, ul, ol, dl {
		margin-bottom: $spacing-unit;
	}
}

.hero {
	background-image: url("/img/svg/rain.svg");
	background-repeat: repeat;
}
