 <!-- About Section -->
 <section class="success" id="about">
   <div class="container">
     <div class="row">
       <div class="col-lg-12 text-center">
         <h2>About</h2>
         <hr class="star-light">
       </div>
     </div>
     <div class="row">
       <div class="col-md-8 col-md-offset-2">
         <p>
            Hi! My name is Chris.
          </p>
          <p>
              I’m a jack-of-all-trades tech geek with over 15 years of wide-ranging technical experience in web development, systems administration, networking, and telecommunications. I've worked with Fortune 500 companies and nonprofits alike and was the technical co-founder of an adTech start-up.
          </p>
       </div>
     </div>
   </div>
 </section>
