 <!-- About Section -->
 <section class="success" id="about">
   <div class="container">
     <div class="row">
       <div class="col-lg-12 text-center">
         <h2>About</h2>
         <hr class="star-light">
       </div>
     </div>
     <div class="row">
       <div class="col-lg-4 col-lg-offset-2">
         <p>
           I am a consultant, entrepreneur, and technologist with over 10 years
           of experience in web development, user interaction and experience,
           information technology, and telecommunications. I've worked
           successfully with start-ups, non-profits, and Fortune 500 companies.
          </p>
       </div>
       <div class="col-lg-4">
         <p>Specialties: </p>
         <ul>
           <li>
             Full-stack web development (Ruby, PHP, JavaScript,
             <abbr title="Amazon Web Services">AWS</abbr>)
            </li>
           <li>
             User interaction and user experience
             (<abbr title="User Interaction">UI</abbr> /
             <abbr title="User Experience">UX</abbr>)
           </li>
           <li>
             QA testing (including
             <abbr title="Test-Driven Development">TDD</abbr>)
           </li>
           <li>E-commerce (WooCommerce, Shopify)</li>
           <li>
             Online advertising
             (<abbr title="Search Engine Optimization">SEO</abbr>,
             <abbr title="Search Engine Marketing">SEM</abbr>,
             display ads)
           </li>
           <li>Social media strategy</li>
           <li>Project management</li>
         </ul>
       </div>
       <!-- <div class="col-lg-8 col-lg-offset-2 text-center">
         <a href="#" class="btn btn-lg btn-outline">
           <i class="fa fa-download"></i> Download Theme
         </a>
       </div> -->
     </div>
   </div>
 </section>
