<section id="about" class="bg-white">
  <div class="container mx-auto py-12 px-10">
    <div class="content">
      <div class="mb-10">
        <h2 class="text-4xl">About Me</h2>
      </div>
      <div class="flex flex-col md:flex-row items-center flex-wrap">
        <div class="flex-1 mb-5 md:mr-5 text-center">
          <img class="w-128 h-128 rounded-full shadow-lg" src="img/profile-square.jpg" alt="Professional Photo of Chris J Mears (without a beard)">
          <div class="mt-2"><em>Another professional photo forthcoming...</em></div>
        </div>
        <div class="flex-1 mb-5 md:mr-5 self-start">
          <div>
            <ul class="text-lg mb-8">
              <li class="mb-4 leading-tight"><strong>Wide Range of Experience</strong> - Over 15 years of wide-ranging technical experience in web development, systems administration, networking, and telecommunications.</li>
              <li class="mb-4 leading-tight"><strong>Work</strong> - Over the years, I have worked with and for several outstanding people and companies including
                <a href="https://www.almanacbeer.com/" target="_blank">Almanac Brewing Co.</a>,
                <a href="https://www.amazon.com/" target="_blank">Amazon</a>,
                <a href="https://www.cisco.com/" target="_blank">Cisco Systems</a>,
                <a href="https://curio-craft.com" target="_blank">Curio</a>,
                <a href="https://www.exactdrive.com" target="_blank">ExactDrive</a>,
                <a href="https://www.goodreads.com" target="_blank">Goodreads</a>,
                <a href="https://www.patientwisdom.com" target="_blank">PatientWisdom</a>,
                <a href="https://www.wineinstitute.org" target="_blank">Wine Institute</a>.</li>
              <li class="mb-4 leading-tight"><strong>Projects</strong> - Most notably <a href="https://www.openbrewerydb.org/" target="_blank">Open Brewery DB</a>.</li>
              <li class="mb-4 leading-tight"><strong>I Have a Cute Dog</strong> - Seriously. Look at him!</li>
            </ul>
            <div class="text-center">
              <img class="w-64 h-64 rounded-full shadow-lg" src="img/Cooper Looking At You.jpg" alt="">
              <div class="mt-2"><em>Cooper, my dog</em></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
