<section class="bg-white" id="blog-posts">
  <div class="container mx-auto py-12 px-10">
    <div class="content">
      <div class="mb-6">
        <h2 class="text-4xl">Blog</h2>
      </div>
      <div class="mb-10">
        <ul class="blog-list list-reset">
          {% for post in site.posts, limit: 5 %}
            <li class="blog-post mb-5 leading-normal">
              <h3 class="text-2xl mb-1">
                <a href="{{ post.url }}" class="text-black hover:text-grey-darker">
                  {{ post.title }}
                </a>
              </h3>
              <time class="post-date mb-2 block text-sm text-grey-darker" datetime="{{ post.date }}">
                {{ post.date | date: "%b %-d, %Y" }}
              </time>
              <div class="post-excerpt text-lg">
                {{ post.excerpt }}
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="mb-6">
        <a href="/blog/" class="js-event-track bg-green hover:bg-green-dark text-white font-semibold py-2 px-4 rounded shadow hover:shadow-none border-2 border-green-dark no-underline inline-block text-lg md:text-2xl">
          See all blog posts
        </a>
      </div>
    </div>
  </div>
</section>
