<!-- Header -->
{% assign header_bg_color = '' %}
{% assign header_link_color = 'text-black hover:text-grey-darker' %}
{% if page.is_post %}
  {% assign header_bg_color = 'bg-blue text-white' %}
  {% assign header_link_color = 'text-white hover:text-blue-lighter text-shadow' %}
{% endif %}

<header class="{{header_bg_color}}">
  <div class="container mx-auto py-12 px-10">
    <div class="content">
      <div class="flex flex-col md:flex-row justify-center content-center">
        <div class="branding flex-1">
          <div class="text-4xl font-black mb-1 md:mb-0">
            <a href="/" class="{{header_link_color}} no-underline antialiased">Chris J Mears</a>
          </div>
        </div>
        <div class="menu flex-1 md:text-right">
          <nav>
            <ul class="list-reset mt-5">
              <li class="inline-block mr-5 mb-5">
                <a class="{{header_link_color}} no-underline antialiased" href="#about">About</a>
              </li>
              <li class="inline-block mr-5 mb-5">
                <a class="{{header_link_color}} no-underline antialiased" href="#solutions">Solutions</a>
              </li>
              <li class="inline-block mr-5 mb-5">
                <a class="{{header_link_color}} no-underline antialiased" href="#testimonials">Testimonials</a>
              </li>
              <li class="inline-block mr-5 mb-5">
                <a class="{{header_link_color}} no-underline antialiased" href="#blog-posts">Blog</a>
              </li>
              <li class="inline-block mr-5 mb-5">
                <a class="{{header_link_color}} no-underline antialiased" href="#newsletter">Newsletter</a>
              </li>
              <li class="inline-block mr-5 mb-5">
                <a class="{{header_link_color}} no-underline antialiased" href="#contact">Contact</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- End of Header -->
