<!-- Start Hero -->
<section class="hero bg-blue-dark text-white tracking-wide">
  <div class="container mx-auto py-12 px-10">
    <div class="content">
      <div class="flex flex-col md:flex-row items-center mt-2">
        <div class="mb-6 md:mr-10">
          <img class="w-48 h-48 rounded-full shadow-lg" src="img/profile-square.jpg" alt="Profressional Photo of Chris J Mears (without a beard)">
        </div>
        <div class="flex-1 mb-5 antialiased">
          <h1 class="text-5xl mb-4 md:mb-2">Hi! My name is Chris.</h1>
          <h2 class="text-blue-lighter mb-6">I help non-technical solo business owners take control of their web technology and get back to their passion.</h2>
          <a href="#solutions" class="bg-blue-darkest border-2 border-white hover:bg-blue text-white font-semibold py-3 px-5 rounded shadow-md hover:shadow-none inline-block no-underline text-xl">
              Learn How I Can Help
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Hero -->