<section class="bg-blue-darkest text-white" id="newsletter">
  <div class="container mx-auto py-12 px-10">
    <div class="content">
      <div class="mb-6 mt-2 text-center">
        <h2 class="text-4xl">I have solutions for your web tech woes.</h2>
      </div>
      <div class="md:max-w-md md:mx-auto">
        <form class="md:px-3" action="https://chrisjmears.us17.list-manage.com/subscribe/post?u=94e0dca41551038d6ef6f68bd&amp;id=1c278b28af"
          method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form">
          <p class="mb-4">
            Sign up for my weekly newsletter where I break down tough tech topics in plain English.
            All value. No spam. Guaranteed dog photos.
          </p>
          <div class="mb-6 flex justify-between flex-col md:flex-row">
            <div class="flex-1 mr-5">
              <input class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker mb-3 leading-tight focus:outline-none focus:shadow-outline"
                id="mce-FNAME" type="text" name="FNAME" placeholder="First Name">
            </div>
            <div class="flex-1 mr-5">
              <input class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker mb-3 leading-tight focus:outline-none focus:shadow-outline"
                id="mce-EMAIL" type="email" name="EMAIL" placeholder="you@email.com">
            </div>
            <div class="flex-0 mr-5">
              <button class="shadow bg-green-dark hover:bg-green text-white font-bold py-2 px-4 rounded border-2 border-white focus:outline-none focus:shadow-outline"
                type="submit">
                Subscribe
              </button>
            </div>
          </div>
          <div style="position: absolute; left: -5000px;" aria-hidden="true">
            <input type="text" name="b_94e0dca41551038d6ef6f68bd_1c278b28af" tabindex="-1" value="">
          </div>
        </form>
      </div>
    </div>
  </div>
</section>