<section class="bg-blue-darkest text-white" id="newsletter">
  <div class="container mx-auto py-12 px-10">
    <div class="content">
      <div class="mb-6">
        <h2 class="text-4xl">Newsletter</h2>
      </div>
      <div class="md:max-w-md md:mx-auto">
        <form class="md:px-8 pt-6 pb-8" action="https://www.getdrip.com/forms/727740567/submissions" method="post" data-drip-embedded-form="727740567">
          <p class="mb-4" data-drip-attribute="description">
            Once a month updates on web-savvy news for your business.
          </p>
          <div class="mb-6">
            <label class="block text-sm font-bold mb-2" for="newsletter_email">
              Email
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker mb-3 leading-tight focus:outline-none focus:shadow-outline" id="newsletter_email" type="email" name="fields[email]" placeholder="you@email.com">
          </div>
          <div class="flex items-center justify-between">
            <button class="bg-green-dark hover:bg-green text-white font-bold py-2 px-4 rounded border-2 border-white focus:outline-none focus:shadow-outline" type="submit">
              Sign Up for Newsletter
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
