<section class="bg-white" id="problems">
  <div class="container mx-auto py-12 px-10">
    <div class="content">
      <div class="flex flex-col md:flex-row justify-center content-center mb-2">
        <div class="flex-1 p-5 mb-5 md:mr-5 md:mb-0 text-center border border-grey-light rounded">
          <h3 class="text-2xl mb-2">New Website Woes</h3>
          <p class="mb-3">
            Have you grown out of Wix or another free web hosting service?
            Need to build a custom web site, but overwhelmed by the options?
          </p>
          <div class="">
            <a href="#how-i-work" class="bg-green hover:bg-green-dark text-white font-semibold py-2 px-4 rounded shadow hover:shadow-none border-2 border-green-dark no-underline inline-block">
              Learn How I Work
            </a>
          </div>
        </div>
        <div class="flex-1 p-5 mb-5 md:mr-5 md:mb-0 text-center border border-grey-light rounded">
          <h3 class="text-2xl mb-2">Existing Website Woes</h3>
          <p class="mb-3">
            Do you have an existing website or web app that is just <em>way</em> too glitchy? Are you getting the cold-shoulder from your current web dev?
          </p>
          <div class="">
            <a href="#solutions" class="bg-green hover:bg-green-dark text-white font-semibold py-2 px-4 rounded shadow hover:shadow-none border-2 border-green-dark no-underline inline-block">
                I Can Help!
            </a>
          </div>
        </div>
        <div class="flex-1 p-5 mb-5 sm:mb-0 text-center border border-grey-light rounded">
          <h3 class="text-2xl mb-2">Growing Pain Woes</h3>
          <p class="mb-3">
            Has your business grown and there's some boring & annoyingly manual tasks which are taking away from your freedom?
          </p>
          <div class="">
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSeYrTHY9GYe6ql80hSIGTYPxxAS2kLbEiu_fmjfZX6fIKLo6w/viewform" class="bg-green hover:bg-green-dark text-white font-semibold py-2 px-4 rounded shadow hover:shadow-none border-2 border-green-dark no-underline inline-block" target="_blank">
              Take a Quick Survey
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
