 <!-- Publications Section -->
 <section class="success" id="publications">
   <div class="container">
     <div class="row">
       <div class="col-lg-12 text-center">
         <h2>Publications</h2>
         <hr class="star-light">
       </div>
     </div>
     <div class="row">
       <div class="col-lg-8 col-lg-offset-2">
         <p>
           In 2012 I wrote a short how-to book called
           <a href="https://www.packtpub.com/hardware-and-creative/textmate-how-instant" target="_blank"><em>TextMate How-to</em></a>
           published by <a href="http://www.packtpub.com" target="_blank">Packt Publishing</a> (ISBN: 1849693986).
           You can also find it on <a href="http://www.amazon.com/dp/1849693986/?tag=packtpubli-20" target="_blank">Amazon</a>.
          </p>
         <p>
           <a href="https://www.packtpub.com/hardware-and-creative/textmate-how-instant">
             <img src="img/3981OT_TextMateHow-to_cov.jpg" alt="TextMate How-To Book Cover" class="img-responsive book-cover">
           </a>
         </p>
       </div>
     </div>
   </div>
 </section>
