<!-- Publications Section -->
<section class="success" id="publications">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Publications</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3 text-center">
        <p>
          In 2012 I wrote a short how-to guide for the (previously) popular text editor, TextMate, called <a target="_blank" href="https://www.amazon.com/gp/product/B009XB55PW/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B009XB55PW&linkCode=as2&tag=chrisjmears-20&linkId=d0812e90f513d1d9fd16d89570468ed1"><em>TextMate How-to</em></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=chrisjmears-20&l=am2&o=1&a=B009XB55PW" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />. 
        </p>
        <p>
          <a target="_blank" href="https://www.amazon.com/gp/product/B009XB55PW/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B009XB55PW&linkCode=as2&tag=chrisjmears-20&linkId=d0812e90f513d1d9fd16d89570468ed1">
            <img src="img/3981OT_TextMateHow-to_cov.jpg" alt="TextMate How-To Book Cover" class="img-responsive book-cover">
          </a>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <a class="btn btn-primary btn-lg" target="_blank" href="https://www.goodreads.com/book/show/16277973-textmate-how-to">View on Goodreads</a>  
        <a class="btn btn-primary btn-lg" target="_blank" href="https://www.amazon.com/gp/product/B009XB55PW/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B009XB55PW&linkCode=as2&tag=chrisjmears-20&linkId=d0812e90f513d1d9fd16d89570468ed1">Buy on Amazon</a>
      </div>
    </div>
  </div>
</section>
