<h1>The Benefits of My Roadmapping Sessions</h1>
<hr class="star-primary">
<p>Before we begin to work together, we need to understand the project's goals and measurable outcomes. This understanding and goal creation will happen in a Roadmapping Session.</p>
<h3>Short Version</h3>
<p><strong>A Roadmapping Session is a low-cost tool that considerably reduces the risk of the project for both of us.</strong></p>
<h3>Longer Version</h3>
<p>A Roadmapping Session is a series of conversations you and I (and perhaps your team) will engage in together to dive into your business — where it has been, where it is, and where it is going. Then, based on your available resources (such as timeline, budget, and technical knowledge of staff), we will explore the various routes which will help get you to where you are going.</p>
<p><strong>By the end of the Roadmapping Session, you will have a PDF document of your business goals and a professionally done product roadmap.</strong></p>
<h3>How it reduces risk for you</h3>
<ul>
<li><strong>Returns a product of higher quality by aligning the final product with your business goals.</strong> A final product that doesn't get you closer to your business goals (more money, more time, happier customers) is useless and wasteful.</li>
<li><strong>Ensures time and money are not wasted building the wrong thing.</strong> By definition, it's near impossible to determine all of the unknown unknowns. However, by defining your goals, we will have a significantly clearer picture of the process and result.</li>
<li><strong>Allows me to give you an accurate, upfront, fixed price for the duration of the project.</strong> This cost provides you with the knowledge of what you will be spending before the project starts.</li>
<li><strong>Produces a detailed Product Roadmap PDF document.</strong> Should I not be the right person for your project, you will have a document to shop around.</li>
</ul>
<h3>How it reduces the risk for me</h3>
<ul>
<li>It helps me understand if I am the right person for your project or if someone else may be a better fit.</li>
<li>It helps me prevent wasting time and money pursuing leads that aren't a good fit. Having you put some skin in the game upfront ensures you are serious about your project and have budgeted for its success.</li>
</ul>
<h2>The Process</h2>
<ol>
<li>
<p><strong>Discovery</strong> — I will learn as much as possible about your business. Who's your customer? How do you make money? What will success look like for this project?</p>
</li>
<li>
<p><strong>Risk Evaluation</strong> — We will assess where the most significant risk lies for this project and what we can do to mitigate it.</p>
</li>
<li>
<p><strong>Product Roadmap</strong> — We will establish what the next steps are for the full project and what features/ideas should be punted until a later time. For a new startup idea, this is where we will define what your Minimum Viable Product (MVP) is and what features could be implemented down the road.</p>
</li>
</ol>
<h2>Preparing for a Roadmapping Session</h2>
<p>A Roadmapping Session typically lasts between 2 and 4 hours.</p>
<p>Other than having that block of time set aside, here are a few things you should prepare:</p>
<ul>
<li>If you have existing analytics of your website or app, you will need to have access to them and invite me to view them.</li>
<li>Prepare any wireframes, brand assets, code, or other assets that have been developed so I can review them.</li>
<li>Sit down and write what your primary business goals are. Think short-term (12-18 months) and long-term (3-5 years). Make each goal something that can be measured.</li>
<li>Have a budget ready or at least in mind for the full project. It would be a disservice for both of us if we complete a Roadmapping Session only to find that the session fee was your full budget.</li>
</ul>
<h2>Let's Get Started!</h2>
<p>The price is $1,500.</p>
<p><a href="https://docs.google.com/forms/d/e/1FAIpQLSeYrTHY9GYe6ql80hSIGTYPxxAS2kLbEiu_fmjfZX6fIKLo6w/viewform" class="btn btn-lg btn-primary">Apply for your Roadmapping Session</a></p>
<h3>100% Money-Back Guarantee</h3>
<p>If at the end of your Roadmapping Session you feel you have not gotten your money's worth, just let me know. I will give you 100% of your money back. No questions asked.</p>
<h2>FAQ</h2>
<h3>What happens after I apply?</h3>
<p>I will review your application within a couple of business days and reply via email with payment instructions.</p>
<h3>What happens after I pay?</h3>
<p>Once you submit your payment, I will send you a link to schedule the Roadmapping Session, which you can book at your convenience.</p>
<h3>I'm nervous about sharing my business ideas...</h3>
<p>This is a common feeling. Rest assured, whatever you share with me, you can share with me in confidence. I have been consulting for several years. If I gave away my clients' secrets, I would not still be in business.</p>
<h3>Will you sign an NDA before we speak?</h3>
<p>In general, no. For such a small engagement, there's no need to get lawyers involved. If we proceed with a more extensive commitment after the Roadmapping Session, I will be happy to sign a limited-scope NDA.</p>
<h3>Can my business partner(s) participate in the session too?</h3>
<p>Though these conversations are best-kept 1-on-1 between myself and the primary decision maker, I understand that it helps to keep everyone on the same page. To avoid &quot;too many cooks in the kitchen spoil the broth&quot; syndrome, let's discuss beforehand and limit the number of participants. You are welcome to record our conversation and share with your partner later.</p>
<h3>Why not just send me an estimate and bill hourly? Why overcomplicate things?</h3>
<p>Shooting off a timeline and budget estimation from the hip is a dangerous gamble concerning getting you closer to your actual business goals. I had had clients who thought they needed Widget A (with a price tag of $50k-100k) when they only required Widget B (with a price tag of $4k).
Frankly put, humans (include me) are terrible at estimating. Whatever timeline and budget I give you will inevitably be wrong.
I rarely bill hourly. I have learned it is costly, wastes time, and hurts all parties involved.</p>
<h3>I can't afford the $1,500 fee. Will you come down on your price?</h3>
<p>No, but I am happy to recommend other people who may be a better fit for you if you have a smaller budget.</p>
<h3>Can we work out an equity arrangement? I don't have any cash to pay you.</h3>
<p>No, I do not work for equity.</p>
<h3>What if you just take my money and skip town before the meeting?</h3>
<p>Similar to my answer about being nervous about sharing information with me: if I had terrible character, I would not still be in business. If you need extra reassurance, I am happy to connect you with a few existing clients so you can feel at ease. If that is not good enough, then I am probably not the right person for you.</p>
<h3>How much will my project cost? How long will my project take?</h3>
<p>¯\_(ツ)_/¯ that's what the Roadmapping Session will help determine.</p>
<p><a href="https://docs.google.com/forms/d/e/1FAIpQLSeYrTHY9GYe6ql80hSIGTYPxxAS2kLbEiu_fmjfZX6fIKLo6w/viewform" class="btn btn-lg btn-primary">Apply for your Roadmapping Session</a></p>
<p>Have questions? No problem. Shoot me an email at <a href="mailto:me@chrisjmears.com">me@chrisjmears.com</a>!</p>
