<div class="text-base border rounded p-6 mb-4">
  <span>
    Hi! I'm Chris J Mears. 👋
  </span>
  <span>
    I'm an independent <a href="https://github.com/chrisjm" target="_blank">full stack web developer</a>, <a href="https://www.wanderingleafstudios.com/"
      target="_blank">solopreneur</a>, and <a href="https://chrisjmears.com/" target="_blank">consultant</a>. 🤓
  </span>
  <span>
    My mission is to help non-technical freelancers and solopreneurs gain control of their web technologies and get
    back to their passion. 💪
  </span>
  <span>
    I built and maintain the <a href="https://www.openbrewerydb.org/" target="_blank">Open Brewery DB</a> open-source
    project. 🍻
  </span>
  <span>
    I have a rescue dog named Cooper 🐶
  </span>
  <span>
    You can follow me on <a href="https://instagram.com/chrisjm" target="_blank">Instagram</a>, <a href="https://twitter.com/chrisjm"
      target="_blank">Twitter</a>, and <a href="https://www.linkedin.com/in/chrisjm80/" target="_blank">LinkedIn</a>.
    🙏
  </span>
</div>