<section class="bg-blue text-white" id="testimonials">
  <div class="container mx-auto py-12 px-10">
    <div class="content">
      <div class="mb-10">
        <h2 class="text-4xl">Testimonials</h2>
      </div>
      <div class="mt-12 mb-8">
        <blockquote class="md:px-24 py-6 mb-4">
          <p class="mb-4 text-3xl text-center">
            "Compared to other tech consultants and developers, Chris has a way with words that makes difficult tech concepts seem really simple and approachable. Even when a certain explanation didn't meet the mark, it seemed like he could tell if I was confused, and then try another way of explaining."
          </p>
          <cite class="block text-center md:text-right">
            Rie Tulali<br />
            Owner<br />
            <a class="text-white hover:text-grey-light" href="https://www.teacurious.com/">TeaCurious</a>
          </cite>
        </blockquote>
        <blockquote class="md:px-24 py-6 mb-4">
          <p class="mb-4 text-3xl text-center">
            "Chris has a strong ability to patiently understand business requirements (as expressed by a non-technical person), ask the right questions, push back in the right areas, and in the end deliver extremely sound, robust code."
          </p>
          <cite class="block text-center md:text-right">
            Myles Younger<br />
            Director of Marketing<br />
            <a class="text-white hover:text-grey-light" href="https://www.mightyhive.com/">MightyHive</a>
          </cite>
        </blockquote>
      </div>
      <div class="mb-8 text-center">
        <a href="#how-i-work" class="js-event-track bg-blue-darkest border-2 border-white hover:bg-blue-dark text-white font-semibold py-3 px-5 rounded shadow-md hover:shadow-none text-2xl no-underline">
          Learn How I Work
        </a>
      </div>
    </div>
  </div>
</section>
