<!-- Work Section -->
<section id="work">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h2 class="text-center">Work</h2>
        <hr class="star-primary">
        <p class="text-center">
          Over the years, I have worked with and for several outstanding people and companies, shown below. Please <a href="#contact">get in touch</a> with me and I will be happy send along a few examples of my work.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <img src="img/logos/Almanac logo_100h.png" alt="Almanac logo">
        <img src="img/logos/Amazon logo_100h.png" alt="Amazon logo">
        <img src="img/logos/Canned Banners logo_100h.png" alt="Canned Banners logo">
        <img src="img/logos/Cisco logo_100h.png" alt="Cisco logo">
        <img src="img/logos/CMAI logo_100h.png" alt="CMAI logo">
        <img src="img/logos/Curio logo_100h.png" alt="Curio logo">
        <img src="img/logos/ExactDrive logo_100h.png" alt="ExactDrive logo">
        <img src="img/logos/Foodbuzz logo_100h.png" alt="Foodbuzz logo">
        <img src="img/logos/Goodreads logo_100h.png" alt="Goodreads logo">
        <img src="img/logos/PatientWisdom logo_100h.png" alt="PatientWisdom logo">
        <img src="img/logos/Progressive logo_100h.png" alt="Progressive logo">
        <img src="img/logos/Ruffled logo_100h.png" alt="Ruffled logo">
        <img src="img/logos/SonicLiving logo_100h.png" alt="SonicLiving logo">
        <img src="img/logos/Wanderable logo_100h.png" alt="Wanderable logo">
        <img src="img/logos/Wine Institute logo_100h.png" alt="Wine Institute logo">
      </div>
    </div>
  </div>
</section>
