<!DOCTYPE html>
<html>
    {% include head.html %}
    <body>
        {% include header.html %}
        {% include hero.html %}
        {% include problems.html %}
        {% include solutions.html %}
        {% include why_work_with_me.html %}
        {% include testimonials.html %}
        {% include blog_posts_section.html %}
        {% include how_i_work.html %}
        {% include about.html %}
        {% include newsletter_form.html %}
        {% include contact_form.html %}
        {% include footer.html %}
        {% include js.html %}
    </body>
</html>
