<!DOCTYPE html>
<html>
    {% include head.html %}
    <body>
      {% include header.html %}

      <section class="bg-white">
        <div class="container mx-auto max-w-lg py-12 px-10">
          <div class="content">
            <div class="post-header mb-5">
              <h1 class="post-title mb-3">{{ page.title }}</h1>
              <time class="post-date" datetime="{{ page.date }}">{{ page.date | date: "%b %-d, %Y" }}</time>
            </div>
            <div class="post-content mb-12">
              {{ content }}
            </div>
            {% include signature.html %}
            {% include social-share.html %}
            {% include comments.html %}
          </div>
        </div>
      </section>

      {% include related-posts.html %}
      {% include newsletter-form-alt.html %}
      {% include footer.html %}
      {% include js.html %}
    </body>
</html>
